
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");


.container {
	border: 3px;
}

h2 a{
	text-decoration: none;
}

.home {
	background-image: url("./images/iot.jpg");
	background-size: "cover";
    height: "100vh";
	background-repeat: no-repeat;
}

a{
	text-decoration: none;
}

.navbar {
	padding: 20px;
	font-weight: 300;
	align-items: center;
	max-width: 900px;
	margin: 0 auto;
}

.navbar .navlinks {
	font-size: 18px;
	padding: 10px;
	margin-left: auto;
}

.navbar h1 {
	color: crimson;
}
.navbar a {
	color: black !important;
	text-decoration: none;
	padding: 0 8px;
	margin-left: 16px;
}

.navlinks a:hover {
	background-color: rgb(228, 80, 109) !important;
	border-radius: 8px;
	color: aliceblue;
}

.vcard {
	padding: 10px;
	text-align: center !important;
	max-width: 100px !important;
	margin: 5px auto;
}

.auth-card {
	display: block;
	padding: 20px;
	text-align: center !important;
	max-width: 400px !important;
	margin: 10px auto;
}


button {
	max-width: 150px;
	margin: 10px;
}


.home-card {
	padding: 10px;
	width: 400px !important;
	max-height: fit-content;
	margin: auto;
	margin-bottom: 26px;
}

svg {
	margin: 3px;
}

.icon{
	height: 150px;
	width: 150px;
	cursor: pointer;
}

.hide {
	visibility: hidden;
	opacity: 0;
}





/* ----------------------- */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
  
  body {
	padding: 0px;
	overflow-x: hidden;
	background-color: #efefef;
  }
  .navbar {
	border: 1px solid #efefef;
  }
  .logo {
	border-radius: 50%;
  }
  .devices {
	padding: 20px 20px;
	position: relative;
	height:auto;
  }
  .d1{
	  padding:20px 0px;
  }
  .iot-devices {
	flex-direction: row;
  }
  .card {
	border: 1px solid white;
  }
  .card-dashboard {
	display:flex;
	justify-content: space-between;
  
  }
  /* The switch - the box around the slider */
  .switch {
	  position: relative;
	  display: inline-block;
	  width: 45px;
	  height: 25px;
	}
	
	/* Hide default HTML checkbox */
	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	
	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 15px;
	  width: 15px;
	  left: 3px;
	  bottom: 5px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	input:checked + .slider {
	  background-color: #2196F3;
	}
	
	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}
	
	input:checked + .slider:before {
	  -webkit-transform: translateX(24px);
	  -ms-transform: translateX(24px);
	  transform: translateX(24px);
	}
	
	/* Rounded sliders */
	.slider.round {
	  border-radius: 13px;
	}
	
	.slider.round:before {
	  border-radius: 50%;
	}
  .card-header{
	 border-bottom: #efefef;
  }
  .faculty-form{
	 padding:20px 20px;
	 margin:10px;
  }
  .form-row{
	display:flex;
	justify-content:space-between;
  
  }
  .noti-card{
	margin:10px;
	padding:5px;
  }
  .noti-card1{
	padding:10px;
  }
